HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.properties
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### JTE ###
/jte-classes/


###ignore application properties###
/application.properties

### ignore user uploaded profile pics ###
src/main/resorces/static/images/user_*
### ignore generated pdf's ###
### but keep the folder ###
src/main/resources/generatedPdf/*
!sr/main/resources/generatedPdf/
src/main/resources/generatedPdf/.gitkeep
